/* Color scheme Autumn Sunlight
----------------------------------------------- */
#wrapper-header .header-bar,
body #wrapper-footer,
.post-entry .post-read-more,
body input[type="submit"],
body input[type="reset"],
body .centered-button,
body .custom-button,
table th {
  background-color: #d99512;           
}
.portfolio-boxes-wrapper .portfolio-box img {
  border-color: #d99512;           
}
#wrapper-footer .footer-signature .footer-signature-content {
  background-color: #9c6907;                                                            
}
body #wrapper-footer,
#wrapper-footer #footer .footer-widget .footer-headline {
  border-color: #9c6907;                     
}
body .post-entry .post-entry-headline a:hover {
  color: #9c6907;                                              
}
.post-entry .post-read-more:hover,
body input[type="submit"]:hover,
body input[type="reset"]:hover,
body .centered-button:hover,
body .custom-button:hover {
  background-color: #805605;                                
}     
.portfolio-boxes-wrapper .portfolio-box :hover > img,
body .menu-box ul ul {
  border-color: #805605;                            
}
body .section-headline,
body #content .section-headline,
body .sidebar-widget .sidebar-headline {
  color: #805605;                                
}
body .post-entry,
.container .post-info span {
  border-color: #ecb54a;                 
} 
body input[type="text"],
body input[type="file"],
body input[type="password"],
body input[type="number"],
body input[type="search"],
body input[type="email"],
body input[type="url"],
body textarea,
body select,
body #searchform .searchform-wrapper {
  border-color: #ecc475;
}
body a,
#sidebar .sidebar-widget a {
  color: #c78810;       
}
body .read-more-button {
  color: #543904;                       
}