#customize-theme-controls .control-section:last-of-type > .accordion-section-title:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: solid 10px #dd3333;
  border-right: solid 10px #dd3333;
  border-left: solid 10px transparent;
  border-bottom: solid 10px transparent;
  top: 0;
  right: 0;
}
