# Auto detect text files and perform LF normalization. Line endings are converted
# to native line endings on checkout.

# # Set the default behavior, in case people don't have core.autocrlf set.
*        text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.cs     text diff=csharp
*.java   text diff=java
*.html   text diff=html
*.css    text
*.js     text
*.sql    text
*.php    text
*.c      text
*.h      text

# Declare files that will always have CRLF line endings on checkout.
# MS Visual Studio only
*.csproj text merge=union
*.sln    text merge=union eol=crlf

*.docx   diff=astextplain
*.DOCX   diff=astextplain

# Examples
# absolute paths are ok, as are globs
# /**/postinst* text eol-lf

# paths that don't start with / are treated relative to the .gitattributes folder
# relative/path/*.txt text eol-lf

# Keyword substitution when creating an archive. For version tracking.
repo-archive-version.txt      export-subst
**/themes/*/style.css

