#main_color_control_page table{
	border-bottom: rgb(111, 111, 111) solid 1px;
	margin-top: 0px;
}

#main_color_control_page table td{
	height: 70px;
}

#main_color_control_page table td h3{
	margin: 0px;
	font-family:Segoe UI;
	padding-bottom: 15px;
	color: rgb(111, 111, 111);
	font-size:18pt;
}

#main_color_control_div{
	margin: 0 auto;
	width:90%;
}

#main_color_control_page .button.active_button {
	color: rgb(0, 0, 0) !important;
	text-shadow: none;
	font-size: 13px !important;
}
#main_color_control_page td, #main_color_control_page textarea {
	line-height: inherit;
	height: 94px;
}

#main_color_control_page .optiontitle {
	font-family: Segoe UI;
	color: rgb(111, 111, 111);
	font-size: 21px;
	border: none;
	margin-top: 15px;
	margin-bottom: 0;
	padding-bottom: 5px;
	font-weight: bold;
}

#main_color_control_page #color_scheme{
	margin-bottom: 15px;
}

#main_color_control_page .optioninput{
	display:table;
}

#main_color_control_page .optioninput, #main_color_control_page .optioninput select, #main_color_control_page .optioninput input {
	font-family: Segoe UI;
	color: rgb(111, 111, 111);
}

#main_color_control_page .optioninput{
	float: left;
	min-height: 100px;
	margin-right: 10px;
	width: 300px;
}

#main_color_control_page .optioninput input {
	font-size: 12px;
}

#main_color_control_page .optioninput label {
	font-size: 16px;
	border-bottom: rgb(206, 206, 206) solid 1.5px;
	padding-bottom: 3px;
	color: #000;
	white-space:nowrap;
}

#main_color_control_page h3{
	width:100%;
	cursor:default !important;
	background:none !important;
	border:none !important;
	color: rgb(111, 111, 111) !important;
	font-weight:bold;
}

#main_color_control_page .optiondescription {
	font-family: Segoe UI;
	color: rgb(111, 111, 111);
	font-size: 12pt !important;
}

#main_color_control_page .submit {
	 float: left;
	 margin-right: 8px;
}

#main_color_control_page .button {
	height: 27px !important;
	display: initial !important;
	background: url(../../images/button.png) center;
	background-size: 100% 100% !important;
	border-radius: 0px !important;
	border: none !important;
	font-size: 16px !important;
	padding: 10px !important;
	color: white;
	font-size: 13px !important;
	text-shadow: none !important;
	line-height:0px !important;
	font-weight: bold;
	margin-top: -2px;
}

#main_color_control_page .wp-picker-clear{
	background: #D6D6D6 !important;
	color: #595959 !important;
	font-weight: normal !important;
}

#main_color_control_page .colorpicker {
	width: 356px;
	height: 176px;
	overflow: hidden;
	position: absolute;
	background: url(../../images/colorpicker_background.png);
	display: none;
}

#main_color_control_page .colorSelector {
	position: relative;
	width: 27px;
	height: 27px;
	float: left;
	margin-right: 6px;
}

#main_color_control_page .wp-picker-holder{
	position: absolute;
	z-index: 1;
}

#main_color_control_page .wp-picker-container{
	margin-top: 8px;
}

#main_color_control_page .colorSelector div {
	position: absolute;
	top: 7px;
	width: 26px;
	height: 26px;
	background: url(../../images/select.png) center;
}

#main_color_control_page .colorpickerclass {
	font-family: Segoe UI;
	color: rgb(111, 111, 111);
	width: 72px;
	float: left;
}
#main_color_control_page .optioninput textarea{ 
	margin-bottom:10px;
	resize:none;
}

#main_color_control_page  .optioninput input, #main_color_control_page .optioninput select, #main_color_control_page .optioninput textarea{
	background:#e9e9e9;
}
