#main_layout_page .button.active_button {
	color: rgb(0, 0, 0) !important;
	text-shadow: none;
	font-size: 13px !important;
}

#main_layout_page input[type=radio]{
	margin-top: 10px !important;
}

#main_layout_page .button {
	height: 38px !important;
	display: initial !important;
	background: url(../../images/button.png) center !important;
	background-size: 100% 100% !important;
	border-radius: 0px !important;
	border: none !important;
	font-size: 16px !important;
	padding: 10px !important;
	color: white !important;
	font-size: 13px !important;
	text-shadow: none !important;
	line-height:0px !important;
	font-weight: bold;
}



#main_layout_page .block {
	position:relative;
	padding-bottom:0px;
	height:auto;
	float:left;
	margin-bottom:10px;
	width:100%;
	min-height:20px;
}


#main_layout_page .optioninput {
	clear:both;
	float:left;
}

#main_layout_page .optioninput.checkbox { 
	display:block;
	position:absolute;
	top:0px;
	left:0px;
	width: 23px;
	height:100%;
	text-align:center;
	margin:0px 5px 0px 0px;
}

#main_layout_page .optioninput select, #main_layout_page .optioninput input,#main_layout_page .optioninput, #main_layout_page .optioninput textarea{	
	font-family:Segoe UI;

	color: rgb(111, 111, 111); 
}

#main_layout_page .optioninput textarea{ margin-bottom:10px;resize:none;}

 #main_layout_page .optioninput input, #main_layout_page .optioninput select, .optioninput textarea{clear:both;	background:#e9e9e9;}

#main_layout_page .optiontitle {		
	clear:both;
	font-family:Segoe UI;
	color: rgb(111, 111, 111); 
	font-size:18px;
	border: none;
	padding:10px 0px 10px 0px;
	margin:10px 0px 10px 0px;
	border-top: rgb(206, 206, 206) solid 1.5px;
}

#main_layout_page .optiontitle.first {border-top: 0px;}	
#main_layout_page .strong_label{
	
	padding-top: 3px;
	font-size:16px;
	font-weight:200;
	margin-top:auto;
	display:table;
	}	

#main_layout_page .optiontitle h3{
	margin:0px;
	font-weight: bold;
}
#main_layout_page h3{
	width:100%;
	cursor:default !important;
	background:none !important;
	border:none !important;
	color: rgb(111, 111, 111) !important;
}
#main_layout_page .optiondescreption {
	position:relative;
  	width:97%;
	float:left;
	font-family:Segoe UI;
	color: rgb(111, 111, 111);
	font-size:16px;
	margin:-17px 0px -10px 0px;
}

#main_layout_page .block.margin .optiondescreption {
	margin-left:25px;
}
