caption, th, td{text-align:right;}
ul, ol{margin:0 0.5em 1.5em 0;}
ul ul, ol ol, ul ol, ol ul{margin-right:1.5em;}
button,html input[type=\"button\"],input[type=\"reset\"],input[type=\"submit\"]{border-color:#ccc #ccc #bbb #ccc;}
button:hover,html input[type=\"button\"]:hover,input[type=\"reset\"]:hover,input[type=\"submit\"]:hover{border-color:#ccc #bbb #aaa #bbb;}
button:focus,html input[type=\"button\"]:focus,input[type=\"reset\"]:focus,input[type=\"submit\"]:focus,button:active,html input[type=\"button\"]:active,input[type=\"reset\"]:active,input[type=\"submit\"]:active{border-color:#aaa #bbb #bbb #bbb;}
textarea{padding-right:3px;}
.alignleft{float:right;margin-left:1.5em;}
.alignright{float:left;margin-right:1.5em;}
.more-link{float:left;}
#calendar_wrap{padding-right:6px;}
.textwidget{padding-right:6px;}
#primary{float:right;margin:0 0 0 -27%;}
#content{margin:0 0 0 22%;}
#content.fullwidth{margin-left:0;}
#secondary,#tertiary{float:left;}
#tertiary{clear:left;}
#primary-right{float:left;margin:0 -27% 0 0;}
#content-right{margin:0 27% 0 0;}
#sidebar-left{float:right;}
#tertiary-left{clear:right;}
.topbar_content_left{float:right;}
.topbar_content_left .contact{margin-right:1em;}
.topbar_content_right{float:left;text-align:left;padding-left:4px;}
.site-header .site-introduction{float:right;}
.site-title{padding-right:6px;}
.site-description{padding-right:6px;}
.site-logo{float:right;}
.main-navigation{float:left;}
.main-navigation ul{float:left;}
.main-navigation li{float:right;}
.main-navigation ul.children li a{border-left:0;}
.main-navigation ul ul{border-left:0;}
.main-navigation ul ul li:hover > a,.main-navigation ul ul li.current_page_item a,.main-navigation ul ul li.current-menu-item a{border-left:0;}
.main-navigation ul ul li a{border-right:none;border-left:none;text-align:right;}
.main-navigation ul ul li{float:right;}
.main-navigation ul li:hover ul{right:0;}
.main-navigation ul li li:hover ul{right:180px;}
.main-navigation ul ul li:last-child a{border-left:none;}
.menu-toggle{text-align:right;}
.recent{margin:0 4px 20px 4px;}
.client_recent{margin:0 4px 20px 4px;}
.recent_title{border-radius:0.4em 0.4em 0 0;}
.breadcrumbs{float:left;padding:3px 0 0 2px;}
.entry-meta{padding-right:2px;}
.entry-date{margin-left:8px;}
.entry-date:before,.comments-link:before,.edit-link:before,.tag-links:before,.cat-links:before,.byline:before{padding-left:2px;}
.entry-date,.comments-link,.edit-link,.tag-links,.cat-links,.byline{margin-left:8px;}
.comments-link:before{padding-left:6px;}
.entry-content table,.comment-content table{border-right-width:0;margin:0 0 2.083em -0.083em;text-align:right;}
.entry-content tr th,.entry-content thead th,.comment-content tr th,.comment-content thead th{border-right:1px solid #d9d9d9;}
.entry-content tr td,.comment-content tr td{border-width:1px 1px 0 0;}
.entry-content ol{margin:0 1.5em 1.5em 0;}
.grid-more-link{float:left;}
.authorlist{float:right;}
.authorAvatar{float:right;}
.authorInfo{float:right;padding-right:6px;}
.authorLinks{float:right;}
.socialIcons{text-align:left;}
.socialIcons li{float:left;}
.format-aside .entry-content{border-right:4px solid rgba( 0, 0, 0, 0.1 );padding-right:1em;}
.site-content .nav-previous{float:right;}
.site-content .nav-next{float:left;text-align:left;}
.comment .avatar{float:right;margin-left:1.25em;}
.comment-content{margin:1em 4.5em 0 0;}
.reply{float:right;margin:0 0 10px 10px;}
#commentform input[type=\"text\"]{margin-right:0.5em;}
#smoothup{left:20px;}
.social-media{text-align:left;}
.social-media li{float:left;}
.featuretext_top{margin:0 0 20px 0;}
.view .mask, .view .content{right:0;}
.col{float:right;margin:1% 1.6% 1% 0;}
.col:first-child{margin-right:0;}
.post-thumbnail{margin-left:4px;}
.blog-lists-title{float:right;margin-right:8px;}
@media screen and (max-width:980px) {
    #content{padding-right:4px;}
}
@media screen and (max-width:600px) {
    .header-image{margin-right:auto;margin-left:auto;}
}
@media screen and (max-width :480px) {
    #masthead .site-introduction{padding-right:4px;}
}
@media only screen and (max-width:480px) {
    .col{margin:1% 0% 1% 0;}
    .featuretext_top{margin:0 0 20px 0;}
}
