/* Color scheme Orange
----------------------------------------------- */
body #headline-wrapper,
body #footer,
body input[type="submit"],
body input[type="reset"],
body #searchform .searchform-wrapper .send {
  background-color: #ed7c00;                       
}
body a,
body .post-entry .post-entry-headline a {
  color: #ed7c00;       
}
body input[type="submit"]:hover,
body input[type="reset"]:hover,
body #searchform .send:hover {
  background-color: #db7300;                                                                   
}
body .site-title a,
#wrapper #left-sidebar .menu-box .current-menu-item > a,
#wrapper #left-sidebar .menu-box .current-menu-ancestor > a,
#wrapper #left-sidebar .menu-box .current_page_item > a,
#wrapper #left-sidebar .menu-box .current-page-ancestor > a,
body #footer a {
  color: #ffd5a6;                   
}
body .sidebar-widget a {
  color: #ffa340;                       
}