table tr td:first-child { width: 140px; }
.image-preview img {
	border: 1px solid #aaa;
	max-height: 100px;
	max-width: 100px;
	vertical-align: middle;
}
.color-row td { vertical-align: top; }
.color-row td:first-child { line-height: 24px; }